/* You can add global styles to this file, and also import other style files */

html, body { height: 50%; margin-left: 1rem; margin-right: 1rem; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.single-column {
    display: grid;

    row-gap: 3rem;
    place-items: center;
}
